.SearchBar {
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.Searchbar input {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
}

.SearchBar img {
    margin-left: -35px;
    margin-bottom: -3px;
    height: 15px;
    width: 50px;
    cursor: pointer;
}

.SearchBar ul {
    list-style-type: none;
    text-align: left;
    width: 165px;
    padding: 0;
    margin: 0;
}

.SearchBar li {
    padding: 10px 5px;
    background-color: lightgray;
    border: 1px solid white;
    cursor: pointer;
}